/**
 * PivotLab
 * CSSLab 
 * Created by @Gaius42
 */

/**
 * CSS-Photo
 */
#css-img {
  margin-bottom: 36px;
}

/* Components */
.btn-custom {
  width: 120px;
}

.slider.slider-horizontal {
  min-width: 60%;
  height: 24px;
}

/* RGB Slider */
#ex1Slider .slider-selection {
	background: #e0e0e0;
}

#RGB {
	height: 20px;
	background: #e0e0e0;
}
#RC .slider-selection {
	background: #ffcdd2;
}
#RC .slider-handle {
	background: #e57373;
}
#RC .slider-handle:hover {
	background: #f44336;
}
#GC .slider-selection {
	background: #c8e6c9;
}
#GC .slider-handle {
	background: #81c784;
}
#GC .slider-handle:hover {
	background: #4caf50;
}
#BC .slider-selection {
	background: #bbdefb;
}
#BC .slider-handle {
	background: #64B5F6;
}
#BC .slider-handle:hover {
	background: #2196f3;
}
#R, #G, #B {
	width: 300px;
}

/* Label */
label {
  font-size: 16px;
  width: 80px;
}

@media screen and (max-width:768px) {
  label {
    font-size: 14px;
    width: 72px;
  }
  .top-md {
    margin-top: 4px;
  }
  #css-img {
    margin-bottom: 16px;
  }
  .tooltip {
    opacity: 0;
  }
}

/**
 * MD Color
 */
 .mdc-bar ul {
  text-align: left; 
  padding: 0; 
  display: block; 
  width: 100%;
  font-size: .8rem;
}

.mdc-bar ul li {
  list-style: none; 
  padding: 15px;
}

.mdc-name {
  display: block; 
  margin-bottom: 60px;
}

.mdc-info {
  display: flex; 
  justify-content: space-between;
}