/**
 * PivotLab
 * CSSLab 
 * Created by @Gaius42
 */

/**
 * css-img
 */


/**
 * Components
 */
.btn-custom {
  width: 120px;
}

/**
 * RGB Slider
 */
#ex1Slider .slider-selection {
	background: #e0e0e0;
}

#RGB {
	height: 20px;
	background: #e0e0e0;
}
#RC .slider-selection {
	background: #ffcdd2;
}
#RC .slider-handle {
	background: #e57373;
}
#RC .slider-handle:hover {
	background: #f44336;
}
#GC .slider-selection {
	background: #c8e6c9;
}
#GC .slider-handle {
	background: #81c784;
}
#GC .slider-handle:hover {
	background: #259b24;
}
#BC .slider-selection {
	background: #bbdefb;
}
#BC .slider-handle {
	background: #64B5F6;
}
#BC .slider-handle:hover {
	background: #5677fc;
}
#R, #G, #B {
	width: 300px;
}