/**
 * PivotLab
 * Material Deisgn
 * Greated by @Gaius42
 */
.color-bar {
  height: 588px;
  max-width: 100%;  
}

.color-block {
  z-index: 1;
  height: 42px;
  max-width: 100%;
  text-align: center;
  line-height: 42px;
}

.color-block p {
  margin-bottom: 0;
}

/* Red */
.red-500 {
  background: #f44336;
}